.home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.home .container .left,
.home .container .right {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--cart-color);
  overflow: hidden;
}
/*** Left ***/
.home .container .left {
  height: calc(100vh - 50px);
  width: 380px;
  padding: 30px 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home .left .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.home .left .avatar .my_img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--border-color);
}
.home .left .avatar .my_name {
  padding: 15px 25px;
  border-radius: 10px;
  text-transform: capitalize;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.5) -1px -1px 30px;
  letter-spacing: 0.5px;
  font-family: "Cookie", cursive;
}
.home .left .avatar .my_name h3 {
  font-size: 21px;
  font-weight: 500;
  color: var(--titel-color);
}
.home .left .avatar .my_name h5 {
  margin: 12px 0 0;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
  box-shadow: rgba(176, 176, 184, 0.2) 0px 7px 29px 0px;
}
.home .left .my_gap {
  width: 65%;
  margin-inline: auto;
  border: 1px solid var(--border-color);
}
.home .left .my-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.home .left .my-links a {
  font-size: 25px;
  color: var(--icon-color);
  transition: var(--main-transition);
}
.home .left .my-links a:hover {
  color: var(--titel-color);
  transform: rotate(360deg);
}

/*** Right ***/
.home .container .right {
  width: 100%;
  min-height: calc(100vh - 50px);
}
.home .right nav {
  width: fit-content;
  margin-left: auto;
  padding: 20px 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  border-radius: 0 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.7) -1px -1px 30px;
}
.home .right nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  list-style: none;
}
.home .right nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}
.home .right nav ul li a.active {
  font-weight: 600;
  color: var(--titel-color);
}
.home .right nav a .icon_nav {
  display: none;
}
.home .right nav .my-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  transition: var(--main-transition);
}
.home .right nav .my-mode .moon {
  color: var(--text-color);
  cursor: pointer;
}
.home .right nav .my-mode .sun {
  color: #efba6af4;
  cursor: pointer;
}

/* Start Media Queries */

/* Devices (less than 1200px) */
@media (max-width: 1199.98px) {
  .home .container .left {
    width: 350px;
  }
}

/* Devices (less than 992px) */
@media (max-width: 991.98px) {
  .home .container {
    flex-direction: column;
    gap: 15px;
  }
  .home .container .left {
    width: 100%;
    height: fit-content;
    padding: 20px 20px 20px 70px;
    flex-direction: row;
  }
  .home .left .avatar {
    flex-direction: row;
  }
  .home .left .avatar .my_img {
    width: 160px;
    height: 160px;
  }
  .home .left .avatar .my_name {
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 0px 0px;
  }
  .home .left .my_gap {
    display: none;
  }
  .home .left .my-links {
    flex-direction: column;
    gap: 10px;
  }
}

/* Devices (less than 768px) */
@media (max-width: 767.98px) {
  .home .container .right {
    padding-top: 50px;
  }
  .home .container .right nav {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    transition: var(--main-transition);
    opacity: 0.5;
    z-index: 99;
  }
  .home .container .right nav:hover {
    opacity: 1;
  }
  .home .right nav a span {
    display: none;
  }
  .home .right nav a .icon_nav {
    display: block;
    font-size: 22px;
    transition: var(--main-transition);
  }
  .home .right nav a .icon_nav:hover,
  .home .right nav .my-mode:hover {
    color: var(--icon-color);
    transform: translateY(-5px);
  }
}

/* Devices(less than 576px) */
@media (max-width: 575.98px) {
  .home .container {
    gap: 10px;
  }
  .home .container .left {
    padding: 25px;
    flex-direction: column;
    gap: 15px;
  }
  .home .left .avatar {
    gap: 15px;
    flex-direction: column;
  }
  .home .left .avatar .my_img {
    width: 130px;
    height: 130px;
  }
  .home .left .avatar .my_name {
    letter-spacing: 0.5px;
  }
  .home .left .avatar .my_name h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .home .left .avatar .my_name h5 {
    margin: 7px;
    padding: 5px;
    font-size: 13px;
  }
  .home .left .my-links {
    flex-direction: row;
  }
  .home .right nav {
    padding: 15px;
    gap: 25px;
  }
  .home .right nav ul {
    gap: 25px;
  }
}
