.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about .about_left {
  width: 60%;
}
.about .about_left .text p {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--text-color);
}
.about .about_left h6 {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: normal;
  font-family: cursive;
  color: var(--light-color);
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.about .about_left .desktop_icon {
  font-size: 30px;
  color: var(--icon-color);
}
.about .about_left .skills {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}
.about .about_left .skill {
  width: 100px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--main-transition);
  box-shadow: rgba(176, 176, 184, 0.2) 0px 7px 29px 0px;
}
.about .about_left .skill:hover {
  transform: translateY(-10px);
}
.about .about_left .skill .img_skill {
  height: 50px;
}
.about .about_left .skill span {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--light-color);
}
.about .about_right {
  width: 40%;
}

/* Start Media Queries */

/* Devices (less than 1200px) */
@media (max-width: 1199.98px) {
  .about .about_left .text p {
    margin-bottom: 25px;
  }
  .about .about_left h6 {
    margin-bottom: 15px;
  }
  .about .about_left .desktop_icon {
    font-size: 25px;
  }
  .about .about_left .skills {
    gap: 15px;
  }
  .about .about_left .skill {
    width: 95px;
    padding: 7px 0;
    border-radius: 7px;
  }
  .about .about_left .skill .img_skill {
    height: 45px;
  }
  .about .about_left .skill span {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

/* Devices (less than 768px) */
@media (max-width: 767.98px) {
  .about .about_left {
    width: 100%;
  }
  .about .about_right {
    display: none;
  }
}

/* Devices(less than 576px) */
@media (max-width: 575.98px) {
  .about .about_left .text p {
    font-size: 16px;
  }
  .about .about_left h6 {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
  }
  .about .about_left .desktop_icon {
    font-size: 30px;
  }
  .about .about_left .skills {
    justify-content: center;
    align-items: center;
  }
}
